body{
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    height: 100vh;
}

#menuContainer{
    flex-basis: 350px;
    background-color: rgb(255, 230, 253);
}

#mainContainer{
    flex: 2;
    background-color: rgb(204, 255, 255);
}

#logo{
    width: 40%;
    margin: 5%;
}