* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #393939;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.siteContainer{
    display: flex;
    height: 100vh;
}

#mainContainer{
    flex: 2;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

/* Style the side navigation bar */
.sidenav {
    height: 100vh;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.25);
}

.sidenav ul{
    padding: 0px 0px 0px 18px;
    position: fixed;
    width: 300px;
}

.logo{
    display: block;
    margin: 10px 0px 50px 18px;
}

.logoImage{
    width: 135px;
    height: 50px;
}

/* Style the navigation links */
.navLinks{
    list-style: none;
    position: relative;
}

.navLinks li{
    padding: 20px 0px;
}

.navLinks li a{
    color: #393939;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navLinks li:hover a{
    transition: 0.3s;
}

.navLinks li a p{
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}

.navicon{
    width: 25px;
    margin-right: 15px;
}

.active{
    background: #f1f1f1;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 4%;
    z-index: -1;
    border-radius: 6px;
}

#highlight{
    display: none;
}

.navLinks li:hover ~ .active {
    display: block;
}

.navLinks li:nth-child(1):hover ~ .active{
    top: 4%;
}

.navLinks li:nth-child(2):hover ~ .active{
    top: 38%;
}

.navLinks li:nth-child(3):hover ~ .active{
    top: 71%;
}


.logoicon{
    display: none;
    width: 45px;
}


@media only screen and (max-width: 1200px){
    .sidenav {
        width: 100px;
    }
    .logoicon{
        display: block;
        width: 30px;
    }
    .logoImage{
        display: none;
    }
    .navLinks li a p{
        display: none;
    }
    .navicon{
        margin-right: 0px;
    }
    .logo{
        margin: 10px 0px 50px 15px;
    }
    .sidenav ul{
        width: 63px;
    }
}

.banner{
    width: 100%;
    min-height: 200px;
    max-height: 205px;
    background-color: #fbfbfb;
    display: flex;
    padding: 15px;
}

.mainHeading{
    font-size: 40px;
    display: inline-block;
    align-self: flex-end;
    margin-left: 30px;
}

.bannerImage1{
    margin-left: auto;
    margin-right: 0;
}

.bannerImage2{
    margin: auto 0px 0px auto;
}

.bannerImage3{
    margin: auto 0px 0px auto;
}

.introMessage{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message{
    width: 350px;
    font-size: 27px;
    text-align: center;
}

.button {
    background-color: #0f87ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    margin: 30px;
  }

  .button:hover {
    background-color: #0062cc;
  }

  .buttonIcon{
    width: 12px;
    margin-left: 10px;
  }

  .cornerButton{
    position: absolute;
    max-width: 150px;
    bottom: 20px;
    right: 20px;
  }

  .modal-title{
    margin: 50px;
    font-size: 28px;
  }
 
  .form-group{
    margin: 0 auto;
  }
  
  .form-control{
    margin-bottom: 20px;
  }

  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modalButton{
    margin-bottom: 40px;
    margin-top: -10px;
  }

  #classroomHome{
    display: none;
    flex-direction: column;
    padding: 40px;
    width: 100%;
  }

  #cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .classCard{
    width: 200px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
  }

  .studentCard{
    min-width: 230px;
    max-width: 250px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
  }

  .studentGrade{
    font-size: 16px;
    font-weight: 400;
  }

  .cardImg{
    width: 45px;
    margin: 10px;
  }

  .profileImg{
    width: 45px;
    margin: 0px 0px 0px auto;
  }

  .introImg{
    width: 100px;
    margin: 10px;
  }

  .cardButton{
    border: none;
    background: none;
    padding: 0;
  }

  .subHeading{
    font-size: 20px;
  }

  #classroomPage {
    display: none;
    flex-direction: column;
    padding: 40px;
    width: 100%;
  }

  #studentCardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

